<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BgsiteOfficial", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="d-flex flex-column h-100 bg-light">
    <header>
<!--
    <nav>
 <ul>
<li class = "active1"><a href="#"><img src = "/images/image.png" width="50px"height = "60px"> Sites.bg</a></li>
<li class = "active"><a href = "/"><i class="fas fa-home"></i></a></li>

<li class><a href = "#"><i class="fas fa-user"></i></a>

<%= render "_admin_menu.html", assigns %>

</ul>


      </nav> -->


      <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/image.png" width="30" height="30" class="d-inline-block align-top" alt="">
      SITES.BG
    </a>
    <form class="form-inline my-2 my-lg-0 btn-toolbar">
      <%= if @current_admin do %>
      <button type="button" class="btn btn-outline-info btn-sm">Logged as: <li><%= @current_admin.email %></li></button>
      <button type"button" class="btn btn-outline-info mx-2"><%= link "Settings", to: Routes.admin_settings_path(@conn, :edit) %></button>
      <button type"button" class="btn btn-outline-danger"><%= link "Log out", to: Routes.admin_session_path(@conn, :delete), method: :delete %></button>

      <% else %>

      <button class="btn btn-outline-success mx-2" type="submit"><%= link "Log in", to: Routes.admin_session_path(@conn, :new) %></button>
      <button type="button" class="btn btn-success"><%= link "Register", to: Routes.admin_registration_path(@conn, :new) %></button>
      <% end %>
    </form>
  </nav>

    </header>

    <%= @inner_content %>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>

  </body>
</html>
