<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Sites.bg", suffix: "" %>

    <!-- Footer -->

    <link rel="shortcut icon" type="image/jpg" href="images/favicon2.png"/>

    <!-- End footer -->

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="d-flex flex-column h-100 bg-light">

    <header>


    <nav class="navbar navbar-light bg-light navbar-desktop fixed-top d-flex justify-content-between">
      <div>
        <%= link "Предложи сайт", to: Routes.admin_session_path(@conn, :new), class: "btn btn-outline-secondary mx-2 blue-link-color" %>
    </div>
      <a class="navbar-brand" href="/">
        <img src="/images/image-nobg.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SITES.BG
      </a>

      <form class="form-inline my-2 my-lg-0 btn-toolbar">
 <!--<div class="input-group rounded">
  <input type="search" class="form-control rounded"  placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>-->
</div>
  <div class="search">
  <%= form_for @conn, Routes.websites_path(@conn, :index),[
    method: :get,
    class: "pull-right"], fn f -> %>
    <class="input-group-text border-0" id="search-addon">
    <%= search_input f, :query%>
    </div>
    <%= submit "Search"%>
  <%end%>

  <% @inner_content %>
        <%= if @current_admin do %>
          <!-- <button type="button" class="btn btn-outline-info btn-sm">Logged as: <li><%= @current_admin.email %></li></button> -->
          <%= link "Settings", to: Routes.admin_settings_path(@conn, :edit), class: "btn btn-outline-info mx-2 blue-link-color" %>
          <%= link "Log out", to: Routes.admin_session_path(@conn, :delete), class: "btn btn-outline-danger blue-link-color", method: :delete %>

        <% else %>
          <%= link "Log in", to: Routes.admin_session_path(@conn, :new), class: "blue-link-color btn btn-outline-success mx-2" %>
          <%= link "Register", to: Routes.admin_registration_path(@conn, :new), class: "blue-link-color btn btn-success" %>
        <% end %>
      </form>
    </nav>



    <div class="mobile-navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Sites.bg</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Всички уебсайтове <span class="sr-only">(current)</span></a>
          </li>
          <%= if @current_admin do %>
          <li class="nav-item">
            <%= link "Settings", to: Routes.admin_settings_path(@conn, :edit), class: "btn btn-outline-info my-2 blue-link-color" %>
          </li>
          <li class="nav-item">
            <%= link "Log out", to: Routes.admin_session_path(@conn, :delete), class: "btn btn-outline-danger blue-link-color", method: :delete %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link "Log in", to: Routes.admin_session_path(@conn, :new), class: "blue-link-color btn btn-outline-success my-2" %>
          </li>
          <li class="nav-item">
            <%= link "Register", to: Routes.admin_registration_path(@conn, :new), class: "blue-link-color btn btn-success" %>
          </li>
          <% end %>
        </ul>

      </div>
    </nav>


    </div>


  </header>

    <%= @inner_content %>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
      <!-- Bitcoin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href=""
        target="_blank"
        role="button"
      ><i class="fab fa-bitcoin"></i>
      </a>
    </section>
    <!-- Section: Social media -->
    <%= link "Свържи се със Sites.bg", to: Routes.admin_session_path(@conn, :new), class: "btn btn-outline-primary mx-2 blue-link-color" %>

  </div>
  <!-- Grid container -->
  <%= if @current_admin do %>
  <p><u> Logged as: <%= @current_admin.email %> </u></p>
  <% end %>
  <!-- Copyright -->
  <div class="text-center p-3" style="">
    © 2021 Copyright | Sites.bg <br> All Rights Reserved
  </div>
  <div class="text-muted p-3" style="text-muted;">
    Support us: 1eEM6yC9by4mS1wLQs8fQy99MheBcuP9u (BTC)
  </div>
  <!-- Copyright -->
</footer>

  </body>
</html>
