<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Избери.сайт - Българските сайтове на едно място">
    <meta name="keywords" content="Izberi.Site, izberi site, избери сайт, избери.сайт, намери сайтове, сайтове спорт, сайтове медия, сайтове политика">
    <%= csrf_meta_tag() %>

    <%= render "_analytics.html", assigns %>
    <%= render "_adsense.html", assigns %>
    <%= render "_cookies.html", assigns %>
    <!-- Footer -->

    <link rel="shortcut icon" type="image/jpg" href="images/favicon.png"/>

    <!-- End footer -->

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

<body class="d-flex flex-column h-100 bg-light">
  <header>
    <nav class="navbar navbar-light bg-light navbar-desktop fixed-top d-flex justify-content-between">
      <%= link "Предложи сайт", to: Routes.request_path(@conn, :new), class: "btn btn-outline-secondary mx-2 blue-link-color" %>

      <div>
        <a class="navbar-brand" href="/">
          <img src="/images/image-222.png" width="230" height="23" class="d-inline-block align-top" alt="">
        </a>
      </div>

      <form class="form-inline my-2 my-lg-0 btn-toolbar">
        <div class="mx-4">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter mx-1"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-github mx-1"></i>
        </div>
        <%= if @current_user do %>
        <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
            <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                <img class="mr-2 rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" width="40" height="40" alt="avatar">
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <%= link "Моят Профил", to: Routes.user_path(@conn, :index), class: "dropdown-item" %>
                  <%= link "Настройки", to: Routes.user_settings_path(@conn, :edit), class: "dropdown-item" %>
                  <%= link "Изход", to: Routes.user_session_path(@conn, :delete), class: "dropdown-item", method: :delete %>
            </ul>
        </div>
        <% else %>
          <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
              <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                  <img class="mr-2 rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" width="40" height="40" alt="avatar">
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <%= link "Вход", to: Routes.user_session_path(@conn, :new), class: "dropdown-item" %>
                    <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new), class: "dropdown-item" %>
              </ul>
          </div>

        <% end %>

      </form>
    </nav>



  <div class="mobile-navbar">

      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a href="/">
        <img src="/images/image-222.png" width="150" height="17" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <%= link "Предложи сайт", to: Routes.request_path(@conn, :new), class: "nav-link" %>
              <%= link "Обратна връзка", to: Routes.feedback_path(@conn, :new), class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <%= if @current_user do %>
              <%= link "Моят Профил", to: Routes.user_path(@conn, :index), class: "btn btn-outline-info my-2 my-sm-0" %>
              <br>
              <%= link "Настройки", to: Routes.user_settings_path(@conn, :edit), class: "btn btn-outline-info my-2 my-sm-0" %>
              <br>
              <%= link "Излез", to: Routes.user_session_path(@conn, :delete), class: "btn btn-outline-danger my-2 my-sm-0", method: :delete %>
            </li>
            <% else %>
            <%= link "Влез", to: Routes.user_session_path(@conn, :new), class: "btn btn-outline-secondary my-2 my-sm-0" %>
            <br>
            <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new), class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

    <%= @inner_content %>

<section class="container">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8041370207584636"
         crossorigin="anonymous"></script>
    <!-- izberi-banner-down -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8041370207584636"
         data-ad-slot="5725079440"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</section>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->

    <section class="mb-4">
      <!-- Facebook -->
      <a href = "https://www.facebook.com/Izberisite-111987154307364"
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        href = "#"
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a href = "https://www.instagram.com/izberi.site/"
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        target="_blank"
        role="button"
        >
        <i class="fab fa-instagram"></i>
      </a>
      <!-- Github -->
      <a href = "https://github.com/N-Patarov/bgsite_official"
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>

    </section>
    <!-- Section: Social media -->
          <div class="mobile-navbar"><%= link "Предложи сайт", to: Routes.request_path(@conn, :new), class: "btn btn-outline-secondary mx-2 my-3 blue-link-color" %></div>
          <%= if @current_admin do %>
            <%= link "Admin Log out", to: Routes.admin_session_path(@conn, :delete), class: "btn btn-outline-danger blue-link-color my-2", method: :delete %>
          <% end %>

          <%= link "Обратна връзка", to: Routes.feedback_path(@conn, :new), class: "btn btn-outline-primary mx-2 blue-link-color" %>

  </div>
  <!-- Grid container -->
  <%= if @current_admin do %>
  <p><u> Logged as: <%= @current_admin.email %> </u></p>
  <% end %>
  <!-- Copyright -->
  <div class="text-center p-3" style="">
    © 2021 <br>Copyright | IZBERI.SITE <br> All Rights Reserved
  </div>
  <div class="text-muted p-3" style="text-muted;">
    Support us:<br> 1eEM6yC9by4mS1wLQs8fQy99MheBcuP9u (BTC)
  </div>
  <!-- Copyright -->
</footer>

  </body>
</html>
