<h1>Edit Feedback</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.feedback_path(@conn, :update, @feedback)) %>

<span><%= link "Back", to: Routes.feedback_path(@conn, :index) %></span>
