<h1>Забравена парола</h1>

<%= form_for :user, Routes.user_reset_password_path(@conn, :create), fn f -> %>
  <%= label f, :email, "Имейл" %>
  <%= email_input f, :email, required: true, class: "form-control" %>

  <div>
    <%= submit "Изпрати инстукции", class: "btn btn-secondary" %>
  </div>
<% end %>

<p>
  <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Вход", to: Routes.user_session_path(@conn, :new) %>
</p>
