<h1>Edit Promotion</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.promotion_path(@conn, :update, @promotion)) %>

<span><%= link "Back", to: Routes.promotion_path(@conn, :index) %></span>
